<div class="p-20">
  <h1>Chi tiết nha sĩ</h1>

  <c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header
          class="d-flex justify-content-between align-items-center"
        >
          <strong>Chi tiết nha sĩ</strong>
        </c-card-header>
        <c-card-body>
          <c-row>
            <c-col md="4">
              <img
                cImg
                rounded
                class="mb-2"
                [src]="changeImageServer(imgUrl)"
                width="400"
                alt="Ảnh đại diện"
              />
            </c-col>
            <c-col md="8">
              <table class="table table-bordered" [striped]="true" cTable>
                <tbody>
                  <tr>
                    <th style="width: 30%">ID:</th>
                    <td>{{ dentist.id }}</td>
                  </tr>
                  <tr>
                    <th>Tên:</th>
                    <td>{{ dentist.name }}</td>
                  </tr>
                  <tr>
                    <th>Email:</th>
                    <td>{{ dentist.email }}</td>
                  </tr>
                  <tr>
                    <th>Địa chỉ:</th>
                    <td>{{ dentist.address }}</td>
                  </tr>
                  <tr>
                    <th>Số điện thoại:</th>
                    <td>{{ dentist.phone }}</td>
                  </tr>
                  <tr>
                    <th>Ngày sinh:</th>
                    <td>{{ dentist.birthday | date : "dd/MM/yyyy" }}</td>
                  </tr>
                  <tr>
                    <th>Mức lương:</th>
                    <td class="text-success">
                      {{ dentist.salary | number }} VND
                    </td>
                  </tr>
                  <tr>
                    <th>Ngày tạo:</th>
                    <td>
                      {{ dentist.createdAt | date : "dd/MM/yyyy HH:mm:ss" }}
                    </td>
                  </tr>
                  <tr>
                    <th>Giới tính:</th>
                    <td>{{ dentist.gender ? "Nam" : "Nữ" }}</td>
                  </tr>
                  <tr>
                    <th>Trạng thái:</th>
                    <td>{{ dentist.isBan ? "Bị khóa" : "Hoạt động" }}</td>
                  </tr>
                  <tr>
                    <th>Chuyên khoa:</th>
                    <td>{{ detailDentist.specialty }}</td>
                  </tr>
                  <tr>
                    <th>Năm kinh nghiệm:</th>
                    <td>{{ detailDentist.experienceYear }}</td>
                  </tr>
                  <tr>
                    <th>Khoa:</th>
                    <td>{{ getFacultyName(detailDentist.facID) }}</td>
                  </tr>
                </tbody>
              </table>
            </c-col>
          </c-row>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</div>
