<div class="p-20">
  <h1>Chi tiết dịch vụ</h1>

  <c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header
          class="d-flex justify-content-between align-items-center"
        >
          <strong>Chi tiết dịch vụ</strong>
        </c-card-header>
        <c-card-body>
          <c-row>
            <c-col md="4">
              <img
                cImg
                rounded
                class="mb-2"
                [src]="changeImageServer(imgUrl)"
                width="400"
                alt="Ảnh đại diện"
              />
            </c-col>
            <c-col md="8">
              <table class="table table-bordered" [striped]="true" cTable>
                <tbody>
                  <tr>
                    <th style="width: 30%">ID:</th>
                    <td>{{ dental.id }}</td>
                  </tr>
                  <tr>
                    <th>Phân loại:</th>
                    <td>{{ categoryName || "Danh mục lỗi" }}</td>
                  </tr>
                  <tr>
                    <th>Tên:</th>
                    <td>{{ dental.name }}</td>
                  </tr>
                  <tr>
                    <th>Chi phí:</th>
                    <td class="text-primary">{{ dental.cost | number }} VND</td>
                  </tr>
                  <tr>
                    <th>Giá:</th>
                    <td class="text-success">
                      {{ dental.price | number }} VND
                    </td>
                  </tr>
                  <tr>
                    <th>Mô tả:</th>
                    <td>{{ dental.description }}</td>
                  </tr>
                  <tr>
                    <th>Đối tượng:</th>
                    <td>{{ dental.cared_actor }}</td>
                  </tr>
                  <tr>
                    <th>Đơn vị:</th>
                    <td>{{ dental.unit }}</td>
                  </tr>
                  <tr>
                    <th>Ngày tạo:</th>
                    <td>
                      {{ dental.created_at | date : "dd/MM/yyyy HH:mm:ss" }}
                    </td>
                  </tr>
                  <tr>
                    <th>Trạng thái:</th>
                    <td>{{ dental.able ? "Hoạt động" : "Bị khóa" }}</td>
                  </tr>
                </tbody>
              </table>
            </c-col>
          </c-row>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</div>
