<div class="p-20">
  <h1>Chi tiết vật liệu cố định</h1>

  <c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header
          class="d-flex justify-content-between align-items-center"
        >
          <strong>Chi tiết vật liệu cố định</strong>
        </c-card-header>
        <c-card-body>
          <c-row>
            <c-col md="4">
              <img
                cImg
                rounded
                class="mb-2"
                [src]="changeImageServer(imgUrl)"
                width="400"
                alt="Ảnh đại diện"
              />
            </c-col>
            <c-col md="8">
              <table class="table table-bordered" [striped]="true" cTable>
                <tbody>
                  <tr>
                    <th style="width: 30%">ID:</th>
                    <td>{{ fixedMaterial.id }}</td>
                  </tr>
                  <tr>
                    <th>Phân loại:</th>
                    <td>{{ categoryName || "Danh mục lỗi" }}</td>
                  </tr>
                  <tr>
                    <th>Tên:</th>
                    <td>{{ fixedMaterial.name }}</td>
                  </tr>
                  <tr>
                    <th>Số lượng:</th>
                    <td class="text-success">
                      {{ fixedMaterial.quantity | number }}
                    </td>
                  </tr>
                  <tr>
                    <th>Chức năng:</th>
                    <td>{{ fixedMaterial.func }}</td>
                  </tr>
                  <tr>
                    <th>Đơn vị:</th>
                    <td>{{ fixedMaterial.unit }}</td>
                  </tr>
                  <tr>
                    <th>Ngày tạo:</th>
                    <td>
                      {{
                        fixedMaterial.created_at | date : "dd/MM/yyyy HH:mm:ss"
                      }}
                    </td>
                  </tr>
                  <tr>
                    <th>Ngày sản xuất:</th>
                    <td>
                      {{
                        fixedMaterial.mfg_date | date : "dd/MM/yyyy HH:mm:ss"
                      }}
                    </td>
                  </tr>
                  <tr>
                    <th>Trạng thái:</th>
                    <td>{{ fixedMaterial.able ? "Hoạt động" : "Bị khóa" }}</td>
                  </tr>
                </tbody>
              </table>
            </c-col>
          </c-row>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</div>
