@use "@coreui/coreui/scss/coreui" as * with ($enable-deprecation-messages: false);

// Import Chart.js custom tooltips styles
@use "@coreui/chartjs/scss/coreui-chartjs";


// Custom styles for this theme
@use "./scss/theme";

// Some temp fixes
//@use "fixes";

// If you want to add custom CSS you can put it here.
@use "./scss/custom";

// Examples
// We use those styles to show code examples, you should remove them in your application.
@use "./scss/examples";


/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css"; // Hoặc theme bạn đã chọn




html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f4f7f6;
}

// Thêm màu nền nhẹ

// Tùy chỉnh màu cho Snackbar (dùng panelClass đã thêm trong component)
.snackbar-success {
  background-color: #4CAF50; // Xanh lá
  color: white;

  button {
    // Nút đóng
    color: white !important;
    opacity: 0.8;
  }
}

.snackbar-error {
  background-color: #f44336; // Đỏ
  color: white;

  button {
    // Nút đóng
    color: white !important;
    opacity: 0.8;
  }
}


.popover-header {
  background-color: #0d6efd;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
}

.popover-body {
  font-size: 0.9rem;
  color: #000;
  padding-top: 0.25rem !important; // Giảm khoảng cách trên body
}

.popover, .c-popover {
  border: 1.5px solid #0d6efd !important; /* Viền xanh dương */
  --cui-popover-border-color: #0d6efd;    /* Nếu CoreUI dùng biến này */
}